.cache
.vscode
dist
node_modules
coverage
addon
.staging-chromium/
addon-chromium/
chromium-dist.pem
build/*
!build/*.ts
!build/*.js
!build/*.mjs
!build/__tests__/
!build/__tests__/*.ts
!build/overlays.lock.json
/.devenv/
/.direnv/
.idea
